

    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

    body {
        margin: 0;
        background-color: rgb(1 31 63);
        line-height: 1.6em;
        text-align: center;
    }
    h1 {
        font-size: 2rem;
        font-family: 'Press Start 2P', cursive;
        font-weight: bold;
        color: white;
        margin: 5%;
    }
    @media (max-width: 767px) {
        h1 {
            font-size: 5rem;    
        } 
    }
    .D1 {
        height: auto;
        width: 33rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .d2 {
        width: 30%;
        height: 10rem;
        border: 0.5rem solid black;
        border-radius: 2.5rem;
        margin: 1rem;
    }
    #d2-1 {
        background-color: rgb(34, 240, 34);
    }
    #d2-2 {
        background-color: rgb(233, 33, 33);
    }
    #d2-3 {
        background-color: rgb(236, 236, 34);
    }
    #d2-4 {
        background-color: rgb(28, 28, 226);
    }
    .pressed {
        opacity: 0.5;
        box-shadow: 0 0 20px rgb(255, 255, 255);
    }
    .game-over {
        background-color: rgb(231, 7, 7);
        color: rgb(1 31 63);
    }
    